[user]
	email = rjb1928@rit.edu
	name = Ryan Bell
[alias]
	# list commits short form
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate

	# list commits with changed files
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

	# list commits with dates
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

	# list commits with relative dates
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative

	# show diff of last commit
	dlc = diff --cached HEAD^

	# list all aliases
	la = "!git config -l | grep alias | cut -c 7-"

	# show the detailed history of a file
	history = "!sh -c \"git log -p -M --follow --stat -- $1\" -"

	# lists the files editted in a given commit
	# $ git files HEAD~2
	# $ vim `git files 4cb45b4`
	files = "!sh -c \"git diff-tree --no-commit-id --name-only -r $1 | tail -n +1\" -"

	psuh = push
[hub]
	protocol = git
[advice]
	statusHints = false
[diff]
	mnemonicprefix = true
[rerere]
	enabled = true
