#ifndef INTERNAL_BORDER
    #ifdef SRVR_archy
        #define INTERNAL_BORDER 0
    #elif SRVR_veccy
        #define INTERNAL_BORDER 0
    #else
        #define INTERNAL_BORDER 15
    #endif
#endif

! set i3wm variables based on hostname
#ifndef I3WM_WINDOW_VARS
  #ifdef SRVR_archy
    #define INNER_GAPS 0
    #define BORDER_PIXEL 2
  #elif SRVR_veccy
    #define INNER_GAPS 0
    #define BORDER_PIXEL 2
  #else
    #define INNER_GAPS 10
    #define BORDER_PIXEL 4
  #endif
#endif

! set window spacing variables that i3wm can use
i3wm.inner_gaps: INNER_GAPS
i3wm.border_pixel: BORDER_PIXEL

Xft.dpi: 96
Xft.autohint: 0
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.rgba: none
Xft.lcdfilter: lcddefault

! =============
! === Color ===
! =============
! (Monokai Remastered)

*.foreground:  #d9d9d9
*.background:  #0c0c0c
*.cursorColor: #fc971f
!
! Black
*.color0:      #1a1a1a
*.color8:      #625e4c
!
! Red
*.color1:      #f4005f
*.color9:      #f4005f
!
! Green
*.color2:      #98e024
*.color10:     #98e024
!
! Yellow
*.color3:      #fd971f
*.color11:     #e0d561
!
! Blue
*.color4:      #9d65ff
*.color12:     #9d65ff
!
! Magenta
*.color5:      #f4005f
*.color13:     #f4005f
!
! Cyan
*.color6:      #58d1eb
*.color14:     #58d1eb
!
! White
*.color7:      #c4c5b5
*.color15:     #f6f6ef
!
! Bold, Italic, Underline
*.colorBD:     #ebebeb
!*.colorIT:
!*.colorUL:

! =============
! === URxvt ===
! =============

URxvt.font: xft:DroidSansMono:size=10:antialias=true,xft:RobotoMonoForPowerline:size=12:antialias=true,xft:Inconsolata-dz\ for\ Powerline:pixelsize=12
URxvt.letterSpace: -1

! Disable scrollbar
URxvt.scrollBar: false

! Set terminal padding
URxvt.internalBorder: INTERNAL_BORDER

! Extensions
URxvt.perl-ext-common: default,clipboard,matcher

! Enables copy/paste with Ctrl-Shift-C/V
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

! Clickable links
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1


! =============
! === rofi ===
! =============

rofi.modi:                           run
rofi.sidebar-mode:                   false
rofi.terminal:                       URxvtc
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e "{ssh-client} {host}"
rofi.opacity:                        100
rofi.width:                          22
rofi.lines:                          8
rofi.columns:                        1
rofi.font:                           DroidSansMono 10

! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: #9d65ff,  #FFFFFF,  #9d65ff,  #fc971f,  #FFFFFF

!                  'background', 'border'
rofi.color-window: #9d65ff,      #7b43dd
rofi.bw:                             10
rofi.location:                       0
rofi.padding:                        20
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          false
rofi.line-margin:                    2
rofi.separator-style:                solid
rofi.hide-scrollbar:                 true
rofi.markup-rows:                    false
rofi.scrollbar-width:                8
